.rounded-border-wrapper {
  position: relative;

  * {
    position: relative;
  }
}

.rounded-border-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
}